# image.config（可直接用于 OpenWrt/ImmortalWrt ImageBuilder）

PROFILE={{ device_name }}

#启用 Initramfs 作为根文件系统。Initramfs 是一种临时文件系统，通常用于系统启动时加载必要的驱动和工具，以便挂载真正的根文件系统
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE is not set
# CONFIG_TARGET_INITRAMFS_COMPRESSION_GZIP is not set
# CONFIG_TARGET_INITRAMFS_COMPRESSION_BZIP2 is not set
# CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA is not set
# CONFIG_TARGET_INITRAMFS_COMPRESSION_LZO is not set
# CONFIG_TARGET_INITRAMFS_COMPRESSION_LZ4 is not set
# CONFIG_TARGET_INITRAMFS_COMPRESSION_XZ is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
CONFIG_EXTERNAL_CPIO=""
CONFIG_TARGET_INITRAMFS_FORCE=y

# Root filesystem archives
# CONFIG_TARGET_ROOTFS_CPIOGZ is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set

# Root filesystem images
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
#设置 SquashFS 文件系统的块读取线程数。SquashFS 是一种只读的压缩文件系统，该选项控制同时读取块的线程数量，以提高读取性能
CONFIG_TARGET_SQUASHFS_BLOCK_READERS=4
#BLOCK_READERS，但用于较小的块读取任务，优化小文件的访问速度
CONFIG_TARGET_SQUASHFS_SMALL_READERS=4
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""

# Image Options
# CONFIG_TARGET_ROOTFS_PERSIST_VAR is not set

# end of Target Images