# 📌 **系统管理**
# Web 管理增强工具，便于快速修改 OpenWRT 设置
EXT_PACKAGES_NAME[1]="luci-app-webadmin"
EXT_PACKAGES_PATH[1]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""

# **性能监控**
# 实时服务器与网络监控工具，提供可视化数据分析
EXT_PACKAGES_NAME[2]="luci-app-netdata"
EXT_PACKAGES_PATH[2]="applications/luci-app-netdata"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[2]=""

# **存储与文件同步**
# 允许挂载 CIFS（Windows 共享文件夹）进行远程存储访问
EXT_PACKAGES_NAME[3]="luci-app-cifs-mount"
EXT_PACKAGES_PATH[3]="applications/luci-app-cifs-mount"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[3]=""

# Rclone 云存储文件同步工具，支持远程数据管理
EXT_PACKAGES_NAME[4]="luci-app-rclone"
EXT_PACKAGES_PATH[4]="applications/luci-app-rclone"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[4]=""

# **网络优化**
# Flow Offloading 加速工具，提高网络性能，适用于小米 AX3600
EXT_PACKAGES_NAME[5]="shortcut-fe"
EXT_PACKAGES_PATH[5]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[5]="package"

# MosDNS，增强 DNS 解析，提高网络稳定性与速度
EXT_PACKAGES_NAME[6]="luci-app-mosdns"
EXT_PACKAGES_PATH[6]="applications/luci-app-mosdns"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/QiuSimons/openwrt-mos"
#EXT_PACKAGES_REPOSITORIE[6]="https://github.com/sbwml/luci-app-mosdns"
EXT_PACKAGES_BRANCH[6]=""
