# 1. KMS 服务器管理工具，可用于激活 Windows 和 Office
EXT_PACKAGES_NAME[1]="luci-app-vlmcsd"
EXT_PACKAGES_PATH[1]="applications/luci-app-vlmcsd"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""

# 2. KMS 服务器核心组件，luci-app-vlmcsd 依赖此包
EXT_PACKAGES_NAME[2]="vlmcsd"
EXT_PACKAGES_PATH[2]="net/vlmcsd"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/packages"
EXT_PACKAGES_BRANCH[2]=""

# 3. Web 端管理增强工具，可快速管理 OpenWRT 配置项
EXT_PACKAGES_NAME[3]="luci-app-webadmin"
EXT_PACKAGES_PATH[3]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[3]=""

# 4. 服务器和网络性能监控工具，提供实时数据可视化
EXT_PACKAGES_NAME[4]="luci-app-netdata"
EXT_PACKAGES_PATH[4]="applications/luci-app-netdata"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[4]=""

# 5. 允许挂载 CIFS（Windows 共享文件夹），用于远程存储访问
EXT_PACKAGES_NAME[5]="luci-app-cifs-mount"
EXT_PACKAGES_PATH[5]="applications/luci-app-cifs-mount"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[5]=""

# 6. Rclone 文件同步管理工具，可用于远程存储同步
EXT_PACKAGES_NAME[6]="luci-app-rclone"
EXT_PACKAGES_PATH[6]="applications/luci-app-rclone"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[6]=""

# 7. Flow Offloading 加速工具，提高网络性能，适用于小米 AX3600
EXT_PACKAGES_NAME[7]="shortcut-fe"
EXT_PACKAGES_PATH[7]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[7]="package"

# 8. MosDNS，增强 DNS 解析，提高稳定性和速度
#EXT_PACKAGES_NAME[8]="luci-app-mosdns"
#EXT_PACKAGES_PATH[8]="applications/luci-app-mosdns"
#EXT_PACKAGES_REPOSITORIE[8]="https://github.com/QiuSimons/openwrt-mos"
#EXT_PACKAGES_BRANCH[8]=""
