name: OpenWrt-K Config Build

on:
  #push:
  #  branches:
  #    - main
  #pull_request:
  #  branches:
  #    - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            clang \
            flex \
            bison \
            g++ \
            gawk \
            gcc-multilib \
            g++-multilib \
            gettext \
            git \
            libncurses5-dev \
            libssl-dev \
            python3-setuptools \
            rsync \
            swig \
            unzip \
            zlib1g-dev \
            file \
            wget \
            curl

      - name: Download and prepare config_build_tool.sh
        run: |
          curl -L -O https://raw.githubusercontent.com/wong1975/immortalwrt-K/main/config_build_tool.sh
          chmod +x config_build_tool.sh
          echo "Downloaded and made config_build_tool.sh executable."

      - name: Run config_build_tool.sh
        run: ./config_build_tool.sh

      # 每次都开启 tmate，便于你手动进入调试配置
      - name: Setup tmate session for SSH debugging
        uses: mxschmitt/action-tmate@v3
        #with:
        #  limit-access-to-actor: true # 强烈建议开启，仅允许你本人访问，防止泄露

      - name: List workspace tree for debug
        run: |
          pwd
          ls -lR

      - name: Archive x86_64 directory to workspace root
        run: |
          src_dir="$GITHUB_WORKSPACE/OpenWrt-K_config_build_dir/OpenWrt-K/config/xiaomi_ax3600-stock"
          if [ -d "$src_dir" ]; then
            tar -czvf ax3600.tar.gz -C "$src_dir" .
            echo "ax3600 directory archived in workspace root."
          else
            echo "Directory $src_dir does not exist, nothing to archive."
          fi

      - name: Upload Firmware Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: openwrt-firmware-${{ github.run_id }}-${{ github.sha }}
          path: |
            #openwrt/bin/targets/
            # openwrt/bin/packages/
            ./ax3600.tar.gz
          retention-days: 90
